:root {
  --background-color: #0e273c;
  --text-color: #fff;
  --light-grey: #e5e5e7;
  --thistle: #d3bccc;
  --tekhelet: #4a306d;
  --citron: #e1ce7a;
  --transition: 0.2s;
}

/* Utilities */
.container {
  padding: 0 12px;
  max-width: 1320px;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  align-items: center;
}
#header {
  padding: 20px 0;
  background-color: var(--background-color);
  color: #fff;
  border-bottom: 2px solid var(--citron);
}
#header h1 {
  color: var(--text-color);
  margin-right: 20px;
  width: 50%;
}
#avatar {
  margin-left: auto;
  width: 50%;
  max-width: 75px;
  width: 100%;
  max-height: 75px;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

  box-shadow: 0 0 50px rgba(204, 204, 204, 0.3);
}

/* Navbar */
#navbar {
  margin-top: 20px;
  width: 100%;
}

#navbar ul {
  display: flex;
  justify-content: center;
}

#navbar ul li {
  padding: 0 15px;
}
#navbar ul li a,
#footer-menu li a {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--citron);
  transition: color var(--transition) ease-in;
}

#navbar ul li:hover a,
#footer-menu li:hover a {
  color: var(--text-color);
  transition: color var(--transition) ease-in;
}

/* Hero section */

.hero-banner {
  position: relative;
  height: 300px;
  max-height: 500px;
  background-image: url("../images/hero_image.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}

.hero-banner h2 {
  font-size: 24px;
  text-align: center;
  position: relative;
  color: var(--text-color);
  z-index: 2;
  transition: font-size 0.5s ease-in-out;
}
.hero-banner h2 span {
  color: var(--citron);
}
.subtitle {
  display: flex;
  height: 100%;
  /* flex: 3 0 100%; */
  justify-content: flex-end;
  align-items: flex-end;
}
.subtitle h2 {
  background-color: var(--background-color);
  padding: 12px 24px;
  margin-bottom: 20px;
}

/* Main content */
.page-section {
  padding-top: 30px;
}

.page-section h2 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: var(--background-color);
  font-size: 24px;
  border-bottom: 3px solid var(--background-color);
}

.projects {
  display: grid;
  align-items: end;
  justify-content: start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
  grid-template-areas:
    "projectOne"
    "projectOne"
    "projectTwo"
    "projectThree"
    "projectFour" "projectFive";
  gap: 10px;
}

.project-one {
  grid-area: projectOne;
  background-image: url("../images/home_slide_1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-two {
  grid-area: projectTwo;
  background-image: url("../images/gaist.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-three {
  grid-area: projectThree;
  background-image: url("../images/ridgewey.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-four {
  grid-area: projectFour;
  background-image: url("../images/gather&gather.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-five {
  grid-area: projectFive;
  background-image: url("../images/ch&co.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: relative;
}
.overlay:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  transition: opacity var(--transition) ease-in;
}
.overlay:hover:before {
  opacity: 0;
  transition: opacity var(--transition) ease-in;
}

.text-box h3,
.text-box p {
  transition: font-size var(--transition) ease-in;
}

.overlay:hover .text-box h3 {
  font-size: 18px;
  transition: font-size var(--transition) ease-in;
}

.overlay:hover .text-box p {
  font-size: 14px;
  transition: font-size var(--transition) ease-in;
}

.box-align {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.text-box {
  background-color: var(--background-color);
  display: inline-block;
  padding: 10px;
  position: relative;
  z-index: 1;
  color: var(--text-color);
  margin-bottom: 20px;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info > div:first-child a:first-child {
  margin-right: 10px;
}
.contact-info > div:first-child {
  margin-bottom: 10px;
}

.contact-info i {
  position: relative;
  top: 0px;
  padding-right: 10px;
  font-size: 18px;
  color: var(--background-color);
  transition: top var(--transition) ease-in;
}
.contact-info a {
  color: var(--background-color);
}
.contact-info div:last-child a:hover i {
  top: -5px;
  transition: top var(--transition) ease-in;
}

#footer {
  margin-top: 30px;
  padding: 30px 0;
  background-color: var(--background-color);
  border-top: 2px solid var(--citron);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#footer-menu {
  display: flex;
  margin-bottom: 15px;
}
#footer-menu li {
  padding: 0 15px;
}
#footer p {
  color: var(--text-color);
}

@media screen and (min-width: 600px) {
  /* Header */
  #header h1 {
    width: auto;
  }
  #avatar {
    margin-left: 0;
    width: auto;
  }
  #navbar {
    margin-top: 0;
    width: auto;
    flex-grow: 4;
  }
  #navbar ul {
    justify-content: flex-end;
  }
  /* Hero section */

  .hero-banner {
    height: 400px;
  }
  .hero-banner h2 {
    font-size: 42px;
    transition: font-size 0.5s ease-in-out;
  }
  /* Main content */

  .page-section {
    display: flex;
  }

  .page-section h2 {
    text-align: end;
    min-width: 20%;
    border-bottom: none;
    border-right: 3px solid var(--background-color);
    margin-bottom: 0;
    padding: 0 10px 0 0;
  }
  .page-section p {
    padding: 0 0 0 10px;
  }
  .text-box p {
    padding: 0;
    font-size: 12px;
    color: var(--citron);
  }

  .projects {
    min-width: calc(80% - 10px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
      "projectOne projectOne"
      "projectOne projectOne"
      "projectTwo projectThree"
      "projectFour projectFive";
    gap: 10px;
    margin-left: 10px;
  }
  .contact-info {
    margin-left: 10px;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-info div:first-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1000px) {
  /* Main content */
  .page-section h2 {
    min-width: 15%;
  }
  .projects {
    min-width: calc(85% - 10px);
  }
}
